/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

html, body { height: 100%; }
body { margin: 0; font-family: 'Poppins', sans-serif; }

.box{
  padding: 10px 10px;
  background-color: white;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.box h5{
font-size: 14px;
}
